.aStyle {
    color: white;
    text-decoration: none;
}

.aStyle:hover{
    text-decoration: solid;
    color: skyblue;
}

ul {
    list-style: none;
    padding: 0;
}

.siteBadge {
    margin-top:20px;
    width:100px;
    height:40px;
}

.flexBox {
    display: flex;
    flex-direction: column;
}